<div class="card draggable">
	
  <div class="card-body">
    <h5 class="card-title"><%= task.title %></h5>
    <h6 class="card-subtitle mb-2 text-muted">due: <%= task.due_date %></h6>
    <p class="card-text"><%= task.description %></p>
  </div>

</div>